.place-float{
    float:right;
}
header .menu .navicon {
    left:10px;
    right: auto;
}
.intro .nice-title h1{
    font-family: 'Aref Ruqaa', serif;
    line-height: 148px;
    margin-bottom: 32px;
}
.intro .nice-title button {
    float: left;
    margin-left:56px;
}
/* start the section  */
section h1{
    font-family: 'Markazi Text', serif;
}
section h1 span {
    left:auto; /* change in rtl to auto and add right : 0*/
    right: 0;
    width: 2.5%;
}
/* start about  */
#about .content{
    padding:0 0 0 64px; /* change in rtl */
}